
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
   
</head>

<body>
    <div class="login-page">
        <div class="container d-flex align-items-center position-relative py-5">
            <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
                <div class="card-body p-0">
                    <div class="row gx-0 align-items-stretch">
                        <!-- Logo & Information Panel-->
                        <div class="col-lg-4">
                            <div class="info d-flex justify-content-center flex-column p-4 h-100">
                                <div class="py-5">
                                    <h1 class="display-6 fw-bold">TruckTip</h1>
                                    <p class="fw-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Form Panel    -->
                        <div class="col-lg-8 bg-white">
                            <div class="d-flex align-items-center px-4 px-lg-5 h-100">

                                <form class="registration-form py-5 w-100" method="post">

                                    {% csrf_token %}

                                    

                                    <div class="input-material-group mb-3">
                                        <input class="input-material" id="id_username" type="text" name="username"
                                            autocomplete="off" required>
                                        <label class="label-material" for="id_username">Username</label>

                                    </div>                                        
                                    {% for error in form.username.errors %}
                                    <small class="text-bg-warning p-1 m-1 rounded-pill">
                                        {{error}}
                                    </small><br>
                                    {% endfor %}

                                
                                    <div class="input-material-group mb-3">
                                        <input class="input-material" id="id_phone" type="text" maxlength="10"
                                            name="phone" autocomplete="off" required>
                                        <label class="label-material" for="id_first_name">Phone</label>
                                    </div>
                                    {% for error in form.phone.errors %}
                                    <small class="text-bg-warning p-1 m-1 rounded-pill">
                                        {{error}}
                                    </small><br>
                                    {% endfor %}

                                    <div class="input-material-group mb-3">
                                        <select class="input-material" name="UserType" id="id_UserType" required>
                                            <option value="">select usertype</option>
                                            <option value="Organisation">Organisation</option>
                                            <option value="Transporter">Transporter</option>
                                            <option value="Owner">Owner</option>
                                            <option value="Driver">Driver</option>
                                        </select>
                    
                                    </div>
                                    {% for error in form.UserType.errors %}
                                        <small class="text-bg-warning p-1 m-1 rounded-pill">
                                            {{error}}
                                        </small>
                                    {% endfor %}

                                    <div class="input-material-group mb-4">
                                        <input class="input-material" id="id_password1" type="password" name="password1"
                                            required>
                                        <label class="label-material" for="id_password1">Password</label>

                                    </div>
                                    <small>
                                        {{form.password1.help_text}}
                                    </small>
                                    {% for error in form.password1.errors %}
                                    <small class="text-bg-warning p-1 m-1 rounded-pill">
                                        {{error}}
                                    </small>
                                    {% endfor %}

                                    <div class="input-material-group mb-2">
                                        <input class="input-material" id="id_password2" type="password" name="password2"
                                            required>
                                        <label class="label-material" for="id_password2">Password Confirm</label>
                                    </div>
                                    <small class="d-block mb-0">{{form.password2.help_text}}</small>
                                    {% for error in form.password2.errors %}
                                    <small class="text-bg-warning d-block mb-1 p-1 m-1 rounded-pill">
                                        {{error}}
                                    </small>
                                    {% endfor %}

                                    <button class="btn btn-primary my-3" id="login" type="submit">Register</button><br>
                                    <a class="text-sm text-paleBlue" href="#">Forgot Password?</a><br>
                                    <small class="text-gray-500">
                                        Already a member? </small>
                                    <a class="text-sm text-paleBlue" href="{% url 'login' %}">Login</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript files-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script> <!-- Main File-->
    <script src="{% static 'js/front.js'%}"></script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>

</html>