{% extends 'common/base.html' %}
{% load static %}

{% comment %} {% load tags %} {% endcomment %}
{% block main %}

<main class="content-inner w-100" id="main">
    <!-- Page Header-->
    <header class="bg-white shadow-sm px-4 py-3 z-index-20">
        <div class="container-fluid px-0">
            <h2 class="mb-0 p-1">Manage Your Vehicle</h2>
        </div>
    </header>
    <!-- Dashboard Counts Section-->
    <section class="pb-0">
        <div class="container-fluid">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row gx-5 bg-white p-2">
                        <!-- Item -->
                        {% comment %} {{ vehicles }} {% endcomment %}
                        {% for vehicle in vehicles %}
                        <div class="d-flex align-items-center justify-content-around border border-{% if vehicle.is_active %}success{% else %}danger{% endif %}  mb-1 p-2   rounded ">
                            <img class="img-fluid shadow-sm" src="img/project-1.jpg" alt="..." width="50">
                            <h3 class="h4 text-gray-700 mb-0">{{vehicle.vh_no}}</h3>
                            <h3 class="h4 text-gray-700 mb-0">{{vehicle.driver_name}}</h3>
                            {% if vehicle.is_active %}
                            <form>

                            </form>
                            {% else %}
                            <form>

                            </form>
                            {% endif %}
                            <span class="text-sm text-gray-600 d-none d-sm-block">Today at 4:24 AM</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <page-footer />
</main>

{% endblock main %}
