{% load static %}


<span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span>
        <ul class="list-unstyled py-4">
          <li class="sidebar-item active"><a class="sidebar-link" href="{% url "index" %}">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use xlink:href="#real-estate-1"> </use>
              </svg>Home </a></li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url "update" user.pk %}" up-target='#main'>
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use xlink:href="#portfolio-grid-1"> </use>
              </svg>Form </a></li>

             <nav-li icon= {% static "feather/home.svg" %} url ="{% url "update" user.pk %}" target='#main' text="Fomr2" />

          <li class="sidebar-item">
            <a class="sidebar-link" href="charts.html">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use xlink:href="#sales-up-1"> </use>
              </svg>Charts </a></li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="forms.html">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use xlink:href="#survey-1"> </use>
              </svg>Forms </a></li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#exampledropdownDropdown" data-bs-toggle="collapse">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use xlink:href="#browser-window-1"> </use>
              </svg>Example dropdown </a>
            <ul class="collapse list-unstyled " id="exampledropdownDropdown">
              <li><a class="sidebar-link" href="#">Page</a></li>
              <li><a class="sidebar-link" href="#">Page</a></li>
              <li><a class="sidebar-link" href="#">Page</a></li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="login.html">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use xlink:href="#disable-1"> </use>
              </svg>Login page </a></li>
        </ul>
        <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Extras</span>
        <ul class="list-unstyled py-4">
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use xlink:href="#imac-screen-1"> </use>
              </svg>Demo </a></li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use xlink:href="#chart-1"> </use>
              </svg>Demo </a></li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use xlink:href="#quality-1"> </use>
              </svg>Demo </a></li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use xlink:href="#security-shield-1"> </use>
              </svg>Demo </a></li>
        </ul>