{% load static %}


<span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span>
        <div class="list-unstyled py-4">
              <nav-li icon={% static "feather/home.svg" %} url ="{% url "index" %}" target='#main' text="Home"></nav-li>
              <nav-li icon={% static "feather/home.svg" %} url ="{% url "update" user.pk %}" target='#main' text="Form2" ></nav-li>
              <nav-li icon={% static "feather/truck.svg" %} url ="{% url "manage_vehicle" %}" target='#main' text="Vehicle" ></nav-li>
            </div>
        <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Extras</span>
